.nav {
  display: block;
  line-height: (2 * $base-spacing);
  text-align: center;
  padding: $base-spacing;
  font-size: 0.85em;
  margin-bottom: $base-spacing;

  ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        color: $black;
        margin: $base-spacing;

        &:hover {
          color: $light-gray;
        }
      }
    }
  }
}
