<sb-container class="pois">
  <h1 class="pois__header">
    Points of Interest
  </h1>

  <div class="pois__grid">
    <div class="pois__grid__inner">
      <div class="pois__grid__card" ng-repeat="point in points">
        <sb-point point="point">
        </sb-point>
      </div>
    </div>
  </div>

  <div class="pois__form">
    <div class="pois__form__inner">
      <h3>Add New Location</h3>

      <form>
        <div class="pois__form__group">
          <label for="name">
            Name:
          </label>
          <input type="text" ng-model="point.name">
        </div>
        <div class="pois__form__group">
          <label for="description">
            Description:
          </label>
          <input type="text" ng-model="point.description">
        </div>
        <div class="pois__form__group">
          <label for="coordinates">
            Coordinates:
          </label>
          <input type="text"
            placeholder="XXX, YYY, ZZZ"
            ng-model="point.coordinates">
        </div>
        <div class="pois__form__group">
          <label form="image">
            Picture:
          </label>
          <input type="file" ng-model="point.image">
        </div>
        <button class="btn btn-success"
          ng-href="#/"
          ng-click="createPoint()">
          Submit
        </button>
      </form>
    </div>
  </div>
</sb-container>
